.logo {
    display: block;
    margin: auto;
    width: 200px;
    height: 100px;

}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(219, 214, 214),rgb(242, 20, 138));
}  
.container {
    max-width: 955px;
    background-color: rgb(229, 233, 233);
    margin: auto;
    height: 60vh;
    border: 2px solid black;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 25px;

}

.message {
    background-color: rgb(223, 219, 219);
    width: 24%;
    padding: 10px;
    margin: 10px 2px;
    border: 2px solid black;
    border-radius: 7px;
}
.left{
    float:left;
    clear:both;
}
.right{
    float:right;
    clear:both;
}
#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 985px;
    width: 100%;
}
#messageInp{
    width: 90%;
    border: 2px solid  black;
    border-radius: 6px;
    height: 20px;
}
.btn{
    cursor: pointer;
    border: 2px solid black;
    border-radius:6px;
    height: 20px;

}
